<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chatroom.name %>
  <% @messages.each do |message| %>
  	<div><%= message.text %></div>
  <% end %>
</p>


<p>
<%= form_for :message, :url => {:action => 'create', :controller => 'messages'} do |f| %>
	message <%= f.text_field :text %>
	<%= f.hidden_field :chatroom_id, :value => @chatroom.id %>
	<%= f.submit %>
<% end %>
</p>


<%= link_to 'Edit', edit_chatroom_path(@chatroom) %> |
<%= link_to 'Back', chatrooms_path %>

