<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chatroom.name %>
  <% @messages.each do |message| %>
  	<div><%= message.message %></div>
  <% end %>
</p>


<!-- TODO: form_for @message -->


<%= link_to 'Edit', edit_chatroom_path(@chatroom) %> |
<%= link_to 'Back', chatrooms_path %>

